# Sim artefacts

# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Sim o/p
*.vcd
*.vvp
*.fst

# Qaurtus misc.
db/
incremental_db/
output_files/
*.qdb
*.qpf
*.qpf.*
*.qsf
*.qws
*.rpt
*.smsg
*.summary
*.pin
*.sof
*.pof
*.jdi

# Vivado misc.
*.runs/
*.cache/
*.ip_user_files
*.hw/
*.sim/
*.jou
*.log
*.bit
*.ltx
xsim.dir/

# MSim/Questa misc.
*/*/symbiyosys_tmp/
*_bmc/
*_prove/
*.sby.bak

# Gen files/dir
tb/common/generated
sw/drivers/generated
rtl/dds_lut.hex

# IDE misc.
.idea/
.vscode/

#
